<!-- -*- mode: XML -*- -->
<launch>

  <arg name="id" default="1"/>
  <arg name="pos_x" default="0.0"/>
  <arg name="pos_y" default="0.0"/>
  

  <include file="$(find ric_description)/launch/komodo_xacro.launch" >
  <arg name="id" value="$(arg id)"/>
  <arg name="pos_x" value="0.0"/>
  <arg name="pos_y" value="0.0"/>
  </include>

 <!--node name="pcloud_rot_node" pkg="pcloud_rot" type="pcloud_rot_node" cwd="node" output="screen" /--> 

</launch>
