<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/ric" name="ric_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.015958 -0.00012764 0.018284"
        rpy="0 0 0" />
      <mass
        value="8.0792" />
      <inertia
        ixx="0.080966"
        ixy="-0.00012771"
        ixz="-0.016999"
        iyy="0.17431"
        iyz="6.1541E-05"
        izz="0.23493" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ric_description/komodo/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25294 0.25294 0.25294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ric_description/komodo/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="FR_Wheel_link">
    <inertial>
      <origin
        xyz="-6.3555E-05 5.4825E-06 4.0333E-11"
        rpy="0 0 0" />
      <mass
        value="3.0437" />
      <inertia
        ixx="0.028387"
        ixy="1.0601E-09"
        ixz="3.2946E-12"
        iyy="0.015485"
        iyz="1.2761E-10"
        izz="0.015484" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ric_description/komodo/meshes/FR_Wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.45294 0.45294 0.45294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ric_description/komodo/meshes/FR_Wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_Wheel_joint"
    type="fixed">
    <origin
      xyz="0.165 -0.18938 0"
      rpy="-2.4325E-31 -1.9723E-15 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="FR_Wheel_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      effort="0"
      velocity="0" />
  </joint>
  
</robot>
