<?xml version="1.0" ?>
<launch>
  <group ns="komodo_1">
    <node name="RiCTraffic" output="screen" pkg="ric_board" type="Start.py"/>
    <include file="$(find ric_robot)/launch/elevator.launch"/>
    <param command="$(find xacro)/xacro.py '$(find ric_description)/komodo/komodo_elevator2.xacro'" name="robot_description"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <include file="$(find openni2_launch)/launch/openni2.launch">
      <arg name="camera" value="Asus_Camera"/>
    </include>
    <node name="hokuyo_node" output="screen" pkg="hokuyo_node" type="hokuyo_node">
      <param name="port" value="/dev/Hokuyo"/>
      <param name="frame_id" value="Laser_link"/>
    </node>
    <rosparam command="load" file="$(find ric_board)/config/komodo_bgu.yaml"/>
  </group>
</launch>
